<h1>All Pizzas:</h1>

<%= flash[:pizza_not_found] %>

<%= form_with url: pizzas_path, method: :get do |form| %>
  <%= form.label :search, "Search by pizza name:" %>
  <%= form.text_field :search %>
  <%= form.submit "Search" %>
<% end %>

<ol>
    <% @pizzas.each do |pizza| %>
    <li>
        <%= link_to pizza.name, pizza_path(pizza) %> - <%= pizza.ingredients %>
        <br>
        <%= link_to 'Order This Pizza Now', new_pizza_order_path(pizza) %> |
        <%= link_to 'Review This Pizza Now', new_pizza_review_path(pizza) %>
        <br>
        <br>
    </li>
    <% end %>
</ol>