<h1>Create Your Own Pizza</h1>

<%= render partial: 'layouts/errors', locals: {object: @pizza} %>

<%= form_with model: @pizza do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <br>
    <%= f.label :ingredients %>
    <%= f.text_field :ingredients %>
    <br>
    <br>
    <%= f.submit 'Create Pizza' %>
<% end %>