<h1>Create Your Own Pizza</h1>

<% if @pizza.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@pizza.errors.count, "error") %> prohibited this article from being saved:</h2>

    <ul>
      <% @pizza.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @pizza do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <br>
    <%= f.label :ingredients %>
    <%= f.text_field :ingredients %>
    <br>
    <br>
    <%= f.label :size %>
    <%= f.select(:size, ["Mini (6-inch)", "Mod (11-inch)", "Mega (11-inch thick crust)"]) %>
    <br>
    <br>
    <%= f.submit 'Create Pizza' %>
<% end %>