<h1><%= @pizza.name %></h1>

<h2>Size:</h2>
<p><%= @pizza.size %></p>

<h2>Ingredients:</h2>
<p><%= @pizza.ingredients %></p>

<%= link_to 'All Orders For This Pizza', pizza_orders_path(@pizza) %> |
<%= link_to 'Order This Pizza Now', new_pizza_order_path(@pizza) %> |

<% #if @pizza.order.user == current_user %>
<% #if current_user == @pizza.user %>
    <%= link_to 'Edit Pizza', edit_pizza_path(@pizza) %> |
    <%= link_to 'Delete Pizza', pizza_path(@pizza), method: :delete %>
<% #end %>