<h1>Welcome <%= @user.first_name %> <%= @user.last_name %>!</h1>

<h2>Email: <%= @user.email %></h2>

<% if current_user %>
    <%= link_to 'Edit Credentials', edit_user_path(@user) %> |
    <%= link_to 'Delete Account', user_path(@user), method: :delete %>
<% end %>