<h1>Welcome <%= @user.first_name %> <%= @user.last_name %>!</h1>

<% if current_user.id == @user.id %>
    <%= link_to 'Edit Credentials', edit_user_path(@user) %> |
    <%= link_to 'Delete Account', user_path(@user), method: :delete %>
    <br>
    <h2>All Your Orders:</h2>
    <%= render partial: 'orders/iteration' %>
    <h2>All Your Reviews:</h2>  
    <%= render partial: 'reviews/iteration' %>
<% end %>