<% if @order.pizza %>
  <h1>New Order for a <%= @order.pizza.name %> pizza!</h1>
<% else %>
  <h1>Order Now!</h1>
<% end %>

<% render partial: 'layouts/errors', locals: {object: @order} %>

<%= form_with model: ([@order.pizza, @order]) do |f| %>
    <%= f.label :pickup_name %>
    <%= f.text_field :pickup_name %>
    <br>
    <br>
    <%= f.label :special_instructions %>
    <%= f.text_field :special_instructions %>
    <br>
    <br>
    <% if !@order.pizza %>
      <%= f.label :pizza_id, "Select a pizza:"%>
      <%= f.collection_select :pizza_id, Pizza.all, :id, :name, prompt: true %>
    <% else %>
      <%= f.hidden_field :pizza_id %>
    <% end %>
    <br>
    <br>
    <%= f.submit 'Submit Order' %>
<% end %>