<h1>New Order For A <%= @order.pizza.name %> Pizza!</h1>

<%= render partial: 'layouts/errors', locals: {object: @order} %>

<%= form_with model: @order do |f| %>
  <%= render partial: 'form', locals: {order: f} %>
  <% if !params[:pizza_id] %>
    <h2>Create Your Own Pizza:</h2>
    <%= f.fields_for :pizza do |p| %>
    <%= render partial: 'pizzas/form', locals: {pizza: p} %>
    <% end %>
  <% end %>
  <br>
  <br>
  <%= f.submit 'Submit Order', class: 'button is-dark is-outlined has-text-weight-bold' %>
<% end %>
<br>
