<h1><%= @order.pickup_name %>'s Pizza Order</h1>

<%= flash[:order_created] %>
<%= flash[:order_edited] %>
<br>
<% if current_user == @order.user %>
    <%= link_to 'Edit Order', edit_order_path(@order), class: 'button is-warning is-outlined is-medium has-text-weight-bold' %> 
    <%= link_to 'Delete Order', order_path(@order), method: :delete, class: 'button is-light is-outlined is-medium has-text-weight-bold' %>
<% end %>

<h2>Special Instructions:</h2>
<article class="message is-dark">
  <div class="message-body">
    <%= @order.special_instructions %>
  </div>
</article>


<h2>Size:</h2>
<article class="message is-dark">
  <div class="message-body">
    <%= @order.size %>
  </div>
</article>

<h2>Pizza ordered:</h2>
<article class="message is-dark">
  <div class="message-body">
    <%= link_to @order.pizza.name, pizza_path(@order.pizza_id), class: 'button is-dark is-outlined' %>
  </div>
</article>