<ol>
    <% @reviews.each do |review| %>
        <li><%= review.reviewer.first_name %> <%= review.reviewer.last_name %> gave the <%= review.pizza.name %> pizza a <strong><%= review.stars %>/5</strong> star rating - "<%= link_to review.content, pizza_review_path(review.pizza, review) %>"</li>
        <br>
    <% end %>
</ol>