<h1>Write a review for <%= @review.pizza.name %> pizza:</h1>

<%= error(@review) %>

<%= form_with model: [@pizza, @review] do |f| %>
    <%= f.hidden_field :pizza_id %>
    <%= f.label :stars, "Stars from 1-5", class: 'has-text-weight-bold has-text-light is-size-5' %>
    <%= f.number_field :stars, min: 0, max: 5 %>
    <br>
    <br>
    <%= f.label :content, class: 'has-text-weight-bold has-text-light is-size-5' %>
    <%= f.text_area :content %>
    <br>
    <br>
    <%= f.label :image, class: 'has-text-weight-bold has-text-light is-size-5' %>
    <%= f.file_field :image %>
    <br>
    <br>
    <%= f.submit 'Create Review', class: 'button is-dark is-outlined has-text-weight-bold' %>
<% end %>
<br>
<%= link_to 'All Reviews For This Pizza', pizza_reviews_path(@pizza), class: 'button is-light is-outlined has-text-weight-bold' %> 
<br>
<br>