<h1><%= @review.reviewer.first_name %> <%= @review.reviewer.last_name %>'s review for a <%= @pizza.name %> pizza:</h1>

<%= flash[:review_created] %>
<br>
<h2>Star Rating:</h2>
<article class="message is-dark">
  <div class="message-body">
    <strong><%= @review.stars %>/5</strong>
  </div>
</article>

<h2>Critique:</h2>
<article class="message is-dark">
  <div class="message-body">
    "<%= @review.content %>"
  </div>
</article>
<% if @review.image.attached? %>
    <%= image_tag url_for(@review.image) %>
<% end %> 
<br>
<%= link_to 'All Reviews For This Pizza', pizza_reviews_path(@pizza), class: 'button is-light is-outlined has-text-weight-bold' %> 
<br>
<br>