<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>ModOlo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item">
            <img src="https://assets.simpleviewinc.com/simpleview/image/fetch/c_fill,h_396,q_75,w_704/https://assets.simpleviewinc.com/simpleview/image/upload/crm/sandysprings/Mod-pizza-logo-retina-resized-for-website-a9a432495056b3a_a9a43441-5056-b3a8-49befc35773884cb.png">
        </a>
          <div>
            <% if logged_in? %>
              Welcome <%= current_user.first_name %> <%= current_user.last_name %>
              <%= link_to 'Profile', user_path(current_user) %>
              <%= link_to 'Order Now', new_order_path %>
              <%= link_to 'All Orders', orders_path %>
              <%= link_to 'All Pizzas', pizzas_path %>
              <%= link_to 'Logout', logout_path, method: :delete %>
            <% else %>
              <%= link_to 'Home', root_path %> 
              <%= link_to 'Sign Up', signup_path %>
              <%= link_to 'Login', login_path %>  
            <% end %>
          </div>  
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
